/* 设置滚动条的样式 */
::-webkit-scrollbar
  width: 8px
  height: 8px


/* 滚动槽 */
::-webkit-scrollbar-track 
  background: #f4f4f5


/* 滚动条滑块 */
::-webkit-scrollbar-thumb 
  border-radius: 4px
  background: rgba(0, 0, 0, 0.1)

// 文章目录样式
// .sidebar-links > li > .sidebar-sub-headers
//   background-color: #ecf5ff
// .sidebar .sidebar-sub-headers .sidebar-sub-header a.sidebar-link
  // color: #666
//   font-size: 14px
//   &.active, &:hover
//     font-weight: 600
    // color: #3eaf7c
//   &.active
    // border-left-color: #3eaf7c